// violet
// --------------------------------------
$violet-25: #EBEDFF;
$violet-50: #C2C8FF;
$violet-75: #99A3FF;
$violet-100: #707EFF;
$violet-200: #5464F2;
$violet-300: #3849E6;
$violet-400: #1C2FD9;
$violet-500: #0014CC;
$violet-600: #0012B8;
$violet-700: #0010A3;
$violet-800: #000E8F;
$violet-900: #000C7A;
$violet: #0014CC;


$text: #303134;
$text-secondary: #72737B;
$side-bar: #F6F6FB;






// raisin
// --------------------------------------
$raisin-25: #787883;
$raisin-50: #666671;
$raisin-75: #535360;
$raisin-100: #41414E;
$raisin-200: #383844;
$raisin-300: #303039;
$raisin-400: #27272F;
$raisin-500: #1E1E24;
$raisin-600: #19191E;
$raisin-700: #141418;
$raisin-800: #0E0E11;
$raisin-900: #09090B;
$raisin: $raisin-500;

// grey
// --------------------------------------
$grey-100: #FFFFFF;
$grey-200: #F4F4F6;
$grey-300: #E9E9ED;
$grey-400: #DEDEE3;
$grey-500: #D3D3DA;
$grey-600: #C1C1C9;
$grey-700: #AFAFB7;
$grey-800: #9C9CA6;
$grey-900: #8A8A94;
$grey: $grey-500;

// blue-crayola
// --------------------------------------
$blue-crayola-25: #f7f8ff;
$blue-crayola-50: #E8EEFF;
$blue-crayola-75: #D9E5FF;
$blue-crayola-100: #C9DBFF;
$blue-crayola-200: #bad1ff;
$blue-crayola-300: #8cb2ff;
$blue-crayola-400: #5d93ff;
$blue-crayola-500: #2e74ff;
$blue-crayola-600: #2968e6;
$blue-crayola-700: #245ccc;
$blue-crayola-800: #1f50b3;
$blue-crayola-900: #1a4499;
$blue-crayola: $blue-crayola-500;

// periwinkle
// --------------------------------------
$periwinkle-100: #F3F7FF;
$periwinkle-200: #E7EFFF;
$periwinkle-300: #DAE6FF;
$periwinkle-400: #CEDEFF;
$periwinkle-500: #C2D6FF;
$periwinkle: $periwinkle-500;

// vermillion
// --------------------------------------
$vermillion-25: #fffbfa;
$vermillion-50: #fef3f2;
$vermillion-100: #fee4e2;
$vermillion-200: #fecdca;
$vermillion-300: #fda29b;
$vermillion-400: #f97066;
$vermillion-500: #f04438;
$vermillion-600: #d92d20;
$vermillion-700: #b42318;
$vermillion-800: #912018;
$vermillion-900: #7a271a;
$vermillion: $vermillion-500;

// tea-rose
// --------------------------------------
$tea-rose-100: #FEF4F4;
$tea-rose-200: #FDEAE8;
$tea-rose-300: #FDDFDD;
$tea-rose-400: #FCD5D1;
$tea-rose-500: #FBCAC6;
$tea-rose: $tea-rose-500;

// emerald
// --------------------------------------
$emerald-25: #EFFBF2;
$emerald-50: #D4F4DB;
$emerald-75: #BAECC5;
$emerald-100: #9FE5AE;
$emerald-200: #8FD69E;
$emerald-300: #7FC88F;
$emerald-400: #6FB97F;
$emerald-500: #5FAB6F;
$emerald-600: #4F9C5F;
$emerald-700: #3F8D50;
$emerald-800: #2F7F40;
$emerald-900: #1F7030;
$emerald: $emerald-500;

// atomic-tangerine
// --------------------------------------
$atomic-tangerine-25: #FEF2EC;
$atomic-tangerine-50: #FDE5D9;
$atomic-tangerine-75: #FBD9C6;
$atomic-tangerine-100: #FACCB3;
$atomic-tangerine-200: #F9BFA0;
$atomic-tangerine-300: #F7B28D;
$atomic-tangerine-400: #F6A579;
$atomic-tangerine-500: #F49866;
$atomic-tangerine-600: #E78855;
$atomic-tangerine-700: #D97945;
$atomic-tangerine-800: #CC6934;
$atomic-tangerine-900: #BE5923;
$atomic-tangerine: $atomic-tangerine-500;



// todo might not need this
// shades
$sun-glow: #ffd23f;
$deep-champagne: #fddaaf;
$linen: #fff3e6;
$bright-lilac: #cc9eff;
$lavender-web: #f5edff;
$uranian-blue: #a6dffe;
