@use "../color" as *;
@use "../var" as *;
@use "../tools/focus-ring" as *;

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

.text-page-title {
  font-size: 2rem;
  font-weight: 700;
}

.text-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.text-sub-title {
  font-size: 1.6rem;
  font-weight: 700;
}

.text-secondary {
  font-weight: 400;
  font-size: 1.4rem;
}

.text-sm {
  font-size: 1.2rem;
}

.text-label {
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  margin-bottom: .4rem;
}

.text-error {
  color: $vermillion;
}

.text-form-error {
  color: $vermillion;
  font-size: 1.2rem;
}

// Ellipsis
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

code {
  background-color: rgba($blue-crayola, .3);
  padding: .2rem .4rem;
  border-radius: $border-radius-sm;
}

a {
  @include focus-ring {
    inset: -.1rem -.4rem;
  }
}

.text-read {
  font-size: 1.6rem;
  letter-spacing: .01em;
  line-height: 1.7;

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }
}

