// keyboard intent
body:not(.keyboard-intent) {

  // checkbox component
  .checkbox__input:focus-within,

    // toggle component
  .toggle-container:focus-within,

  // button component
  [role='button']:focus,
  button:focus,
  a:focus {
    &::after {
      display: none;
    }
  }
}

///** hide body scrolling when modal/overlay is open **/
//body.--modalService-hide-scroll-bar {
//  overflow: hidden;
//}
